body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// mixins
@mixin button {
  min-width: 160px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid blue;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  color: blue;
  transition: all .2s ease-in-out;

  &:disabled {
    color: gray;
    background-color: lightgray;
    border: none;

    &:hover {
      background-color: lightgray;
    }
  }

  &:hover {
    background-color: rgb(192, 233, 247);
  }
}